<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="app">
        <ul>
          <li v-for="(row, rowIndex) in nestedArray" :key="rowIndex">
            <ul>
              <li v-for="(column, colIndex) in row" :key="colIndex">
                {{ column }}
              </li>
            </ul>
          </li>
        </ul>
        <button @click="manipulateArray">Manipulate Array</button>
      </div>
      <script src="index.js"></script>  
</body>
</html>